<% content_for :title do %><%= @tournament ? @tournament.name : "Tournaments" %> - Ladder<% end %>
<div class="page-header">
  <h1><%= @tournament.name %></h1>
</div>



<p style="display:none">There are <%= @pending.count %> games to be processed on <%= time_tag (Time.zone.now + 1.week).beginning_of_week %>.</p>

<div class="row-fluid" >

  <div class="span6">
    <h2>Recent Games</h2>
    <% @games.each do |game| %>
        <p><%= link_to "#{game.winner.name} beat #{game.loser.name}", game_path(game) %></p>
    <% end %>

  </div>

  <div class="span6"  >

    <% if @challenges.any? %>
        <h2>Open Challenges</h2>
        <% @challenges.each do |challenge| %>
            <p><%= link_to "#{challenge.challenger.name} [#{challenge.challenger.rank}] vs #{challenge.defender.name} [#{challenge.defender.rank}]", challenge_path(challenge) %> (from <%= challenge.created_at.to_time.strftime('%b %e') %>, expires in <%= distance_of_time_in_words challenge.processed_at, Time.zone.now %>)</p>
        <% end %>
    <% end %>

  </div>
</div>

<h2>Ladder Rankings</h2>
<h5><%= Game.count %> Games Played</h5>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Icon</th>
      <th>Name</th>
      <th>Record</th>
      <th>Streak</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do | player| %>
        <tr>
            <td><%=  player.rank %></td>
          <td><%= gravatar_image_tag player.email, 48, :class => 'img-polaroid' %></td>
          <td><%= player == current_user ? (link_to "You", profile_path(player.id)) : (link_to player.name, profile_path(player.id)) %></td>
          <% @W = player.record[0].to_s %>
          <% @L = player.record[1].to_s %>
          <td><%= @W + " Wins, " + @L + " Losses"   %></td>
          <td><%=  player.streak %></td>
          <td>

          <% if player != current_user && current_user.rank - player.rank < 4 && current_user.rank - player.rank > 0 %>
                <div class="btn-group">
                <%= link_to new_challenge_path(:defender_id => player, :tournament_id => @tournament), :class => 'btn' do %>Challenge<% end %>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Log a game', new_game_path(:tournament_id => @tournament, :user_id => player) %></li>
                </ul>
              </div>
        <% end %>
          </td>

        </tr>
  <% end %>

  </tbody>
</table>

<ul class="nav nav-pills">
  <li><%= link_to "Invite New Player", new_tournament_invite_path(@tournament), :rel => 'tooltip', :title => "#{@tournament.invites.where(:owner_id => current_user).limit_left} invites left" %></li>
</ul>
