<% if user_logged_in? %>
  <p>Welcome <%= current_user.name %></p>

  <h2>News Feed</h2>
  <%= page_entries_info @games %>
  <%= div_for @games, :class => 'media' do |game| %>
    <%= link_to game_path(game), :class => 'pull-left' do %>
      <%= gravatar_image_tag game.game_ranks[0].user.email, 64 %>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to game.versus, game_path(game) %></h4>
      <% if game.confirmed? %>Confirmed<% else %>Unconfirmed<% end %> game for <%= link_to game.tournament.name, tournament_path(game.tournament_id) %> on <%= time_tag game.updated_at %>.
    </div>
  <% end %>
  <%= paginate @games %>
<% else %>
  <div class="hero-unit">
    <h1>ESpace Ping Pong Ladder</h1>
    <div>
      <%= image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS5hUn8fPxp50_yPsCUoMqLlXpUqPmHOniSTy3Eq32ktKI_XZhP")   %>
    </div>
    <p>Be the Best in ERA Ping Pong.</p>
    <p><%= link_to "Start Now", session_path, :class => 'btn btn-primary btn-large' %></p>
  </div>
<% end %>
